# This workflow will test the build system (validate symlinks, index generator and installing / uninstalling)
name: Complete build system test

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.14
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install build dependencies
      run: |
        sudo apt-get install --no-install-recommends make

    - name: Check all symlinks are valid
      run: |
        make check

    - name: Test index generator
      run: |
        INSTALL_DIR=./ make index

    - name: Test install and uninstall targets
      run: |
        sudo make install
        sudo make uninstall
